In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
!git pull

Already up to date.

In [3]:
! pip install mlflow transformers datasets "pydantic[dotenv]" av

Collecting mlflow
  Downloading mlflow-2.0.1-py3-none-any.whl (16.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.5/16.5 MB 91.7 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: transformers in /usr/local/lib/python3.9/dist-packages (4.20.1)
Requirement already satisfied: datasets in /usr/local/lib/python3.9/dist-packages (2.3.2)
Requirement already satisfied: pydantic[dotenv] in /usr/local/lib/python3.9/dist-packages (1.9.1)
Collecting av
  Downloading av-10.0.0-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (31.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 31.2/31.2 MB 57.8 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: packaging<22 in /usr/local/lib/python3.9/dist-packages (from mlflow) (21.3)
Requirement already satisfied: requests<3,>=2.17.3 in /usr/local/lib/python3.9/dist-packages (from mlflow) (2.28.1)
Collecting alembic<2
  Downloading alembic-1.8.1-py3-none-any.whl (209 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 209.8/209.8 kB 57.2 MB/s eta 0:00:00
Requirement already satisfied: Jinja2<4,>=2.11 in /usr/local/lib/python3.9/dist-packages (from mlflow) (3.1.2)
Requirement already satisfied: click<9,>=7.0 in /usr/local/lib/python3.9/dist-packages (from mlflow) (8.1.3)
Requirement already satisfied: importlib-metadata!=4.7.0,<6,>=3.7.0 in /usr/local/lib/python3.9/dist-packages (from mlflow) (4.12.0)
Collecting docker<7,>=4.0.0
  Downloading docker-6.0.1-py3-none-any.whl (147 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 147.5/147.5 kB 36.9 MB/s eta 0:00:00
Requirement already satisfied: pyarrow<11,>=4.0.0 in /usr/local/lib/python3.9/dist-packages (from mlflow) (8.0.0)
Requirement already satisfied: protobuf<5,>=3.12.0 in /usr/local/lib/python3.9/dist-packages (from mlflow) (3.19.4)
Requirement already satisfied: entrypoints<1 in /usr/local/lib/python3.9/dist-packages (from mlflow) (0.4)
Collecting databricks-cli<1,>=0.8.7
  Downloading databricks-cli-0.17.3.tar.gz (77 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 77.9/77.9 kB 17.9 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: scipy<2 in /usr/local/lib/python3.9/dist-packages (from mlflow) (1.8.1)
Collecting sqlparse<1,>=0.4.0
  Downloading sqlparse-0.4.3-py3-none-any.whl (42 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 42.8/42.8 kB 16.5 MB/s eta 0:00:00
Requirement already satisfied: pandas<2 in /usr/local/lib/python3.9/dist-packages (from mlflow) (1.4.3)
Collecting querystring-parser<2
  Downloading querystring_parser-1.2.4-py2.py3-none-any.whl (7.9 kB)
Requirement already satisfied: markdown<4,>=3.3 in /usr/local/lib/python3.9/dist-packages (from mlflow) (3.3.7)
Collecting gunicorn<21
  Downloading gunicorn-20.1.0-py3-none-any.whl (79 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 79.5/79.5 kB 33.6 MB/s eta 0:00:00
Collecting shap<1,>=0.40
  Downloading shap-0.41.0-cp39-cp39-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (572 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 572.4/572.4 kB 96.0 MB/s eta 0:00:00
Requirement already satisfied: cloudpickle<3 in /usr/local/lib/python3.9/dist-packages (from mlflow) (2.1.0)
Requirement already satisfied: sqlalchemy<2,>=1.4.0 in /usr/local/lib/python3.9/dist-packages (from mlflow) (1.4.39)
Requirement already satisfied: gitpython<4,>=2.1.0 in /usr/local/lib/python3.9/dist-packages (from mlflow) (3.1.27)
Requirement already satisfied: numpy<2 in /usr/local/lib/python3.9/dist-packages (from mlflow) (1.23.1)
Requirement already satisfied: matplotlib<4 in /usr/local/lib/python3.9/dist-packages (from mlflow) (3.5.2)
Requirement already satisfied: pyyaml<7,>=5.1 in /usr/local/lib/python3.9/dist-packages (from mlflow) (5.4.1)
Requirement already satisfied: pytz<2023 in /usr/local/lib/python3.9/dist-packages (from mlflow) (2022.1)
Requirement already satisfied: scikit-learn<2 in /usr/local/lib/python3.9/dist-packages (from mlflow) (1.1.1)
Collecting Flask<3
  Downloading Flask-2.2.2-py3-none-any.whl (101 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 101.5/101.5 kB 43.0 MB/s eta 0:00:00
Requirement already satisfied: tokenizers!=0.11.3,<0.13,>=0.11.1 in /usr/local/lib/python3.9/dist-packages (from transformers) (0.12.1)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.9/dist-packages (from transformers) (2022.7.9)
Requirement already satisfied: huggingface-hub<1.0,>=0.1.0 in /usr/local/lib/python3.9/dist-packages (from transformers) (0.8.1)
Requirement already satisfied: filelock in /usr/local/lib/python3.9/dist-packages (from transformers) (3.7.1)
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.9/dist-packages (from transformers) (4.64.0)
Requirement already satisfied: aiohttp in /usr/local/lib/python3.9/dist-packages (from datasets) (3.8.1)
Requirement already satisfied: dill<0.3.6 in /usr/local/lib/python3.9/dist-packages (from datasets) (0.3.5.1)
Requirement already satisfied: multiprocess in /usr/local/lib/python3.9/dist-packages (from datasets) (0.70.13)
Requirement already satisfied: fsspec[http]>=2021.05.0 in /usr/local/lib/python3.9/dist-packages (from datasets) (2022.5.0)
Requirement already satisfied: responses<0.19 in /usr/local/lib/python3.9/dist-packages (from datasets) (0.18.0)
Requirement already satisfied: xxhash in /usr/local/lib/python3.9/dist-packages (from datasets) (3.0.0)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.9/dist-packages (from pydantic[dotenv]) (4.3.0)
Collecting python-dotenv>=0.10.4
  Downloading python_dotenv-0.21.0-py3-none-any.whl (18 kB)
Collecting Mako
  Downloading Mako-1.2.4-py3-none-any.whl (78 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 78.7/78.7 kB 33.2 MB/s eta 0:00:00
Collecting pyjwt>=1.7.0
  Downloading PyJWT-2.6.0-py3-none-any.whl (20 kB)
Requirement already satisfied: oauthlib>=3.1.0 in /usr/local/lib/python3.9/dist-packages (from databricks-cli<1,>=0.8.7->mlflow) (3.2.0)
Collecting tabulate>=0.7.7
  Downloading tabulate-0.9.0-py3-none-any.whl (35 kB)
Requirement already satisfied: six>=1.10.0 in /usr/lib/python3/dist-packages (from databricks-cli<1,>=0.8.7->mlflow) (1.14.0)
Requirement already satisfied: urllib3>=1.26.0 in /usr/local/lib/python3.9/dist-packages (from docker<7,>=4.0.0->mlflow) (1.26.10)
Requirement already satisfied: websocket-client>=0.32.0 in /usr/local/lib/python3.9/dist-packages (from docker<7,>=4.0.0->mlflow) (0.57.0)
Collecting itsdangerous>=2.0
  Downloading itsdangerous-2.1.2-py3-none-any.whl (15 kB)
Collecting Werkzeug>=2.2.2
  Downloading Werkzeug-2.2.2-py3-none-any.whl (232 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 232.7/232.7 kB 65.5 MB/s eta 0:00:00
Requirement already satisfied: gitdb<5,>=4.0.1 in /usr/local/lib/python3.9/dist-packages (from gitpython<4,>=2.1.0->mlflow) (4.0.9)
Requirement already satisfied: setuptools>=3.0 in /usr/local/lib/python3.9/dist-packages (from gunicorn<21->mlflow) (63.1.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.9/dist-packages (from importlib-metadata!=4.7.0,<6,>=3.7.0->mlflow) (3.8.1)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.9/dist-packages (from Jinja2<4,>=2.11->mlflow) (2.1.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.9/dist-packages (from matplotlib<4->mlflow) (0.11.0)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.9/dist-packages (from matplotlib<4->mlflow) (2.8.2)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib<4->mlflow) (9.2.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.9/dist-packages (from matplotlib<4->mlflow) (1.4.3)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib<4->mlflow) (4.34.4)
Requirement already satisfied: pyparsing>=2.2.1 in /usr/local/lib/python3.9/dist-packages (from matplotlib<4->mlflow) (3.0.9)
Requirement already satisfied: idna<4,>=2.5 in /usr/lib/python3/dist-packages (from requests<3,>=2.17.3->mlflow) (2.8)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.9/dist-packages (from requests<3,>=2.17.3->mlflow) (2.1.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/lib/python3/dist-packages (from requests<3,>=2.17.3->mlflow) (2019.11.28)
Requirement already satisfied: joblib>=1.0.0 in /usr/local/lib/python3.9/dist-packages (from scikit-learn<2->mlflow) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.9/dist-packages (from scikit-learn<2->mlflow) (3.1.0)
Collecting numba
  Downloading numba-0.56.4-cp39-cp39-manylinux2014_x86_64.manylinux_2_17_x86_64.whl (3.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.5/3.5 MB 125.5 MB/s eta 0:00:00
Collecting slicer==0.0.7
  Downloading slicer-0.0.7-py3-none-any.whl (14 kB)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.9/dist-packages (from sqlalchemy<2,>=1.4.0->mlflow) (1.1.2)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.9/dist-packages (from aiohttp->datasets) (18.2.0)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.9/dist-packages (from aiohttp->datasets) (1.3.0)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.9/dist-packages (from aiohttp->datasets) (1.2.0)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.9/dist-packages (from aiohttp->datasets) (1.7.2)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /usr/local/lib/python3.9/dist-packages (from aiohttp->datasets) (4.0.2)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.9/dist-packages (from aiohttp->datasets) (6.0.2)
Requirement already satisfied: smmap<6,>=3.0.1 in /usr/local/lib/python3.9/dist-packages (from gitdb<5,>=4.0.1->gitpython<4,>=2.1.0->mlflow) (5.0.0)
Collecting llvmlite<0.40,>=0.39.0dev0
  Downloading llvmlite-0.39.1-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (34.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 34.6/34.6 MB 52.4 MB/s eta 0:00:0000:0100:01
Building wheels for collected packages: databricks-cli
  Building wheel for databricks-cli (setup.py) ... done
  Created wheel for databricks-cli: filename=databricks_cli-0.17.3-py3-none-any.whl size=139084 sha256=43161c712799e3c5873b7ced4221cb38e94a9f48537ed1cd9e3bdbde4e7eae78
  Stored in directory: /root/.cache/pip/wheels/7b/ef/c5/85718fa9e66dec117e42d8b4d7b8a2e40ebdec17232935615f
Successfully built databricks-cli
Installing collected packages: av, Werkzeug, tabulate, sqlparse, slicer, querystring-parser, python-dotenv, pyjwt, Mako, llvmlite, itsdangerous, gunicorn, numba, Flask, docker, databricks-cli, alembic, shap, mlflow
  Attempting uninstall: Werkzeug
    Found existing installation: Werkzeug 2.1.2
    Uninstalling Werkzeug-2.1.2:
      Successfully uninstalled Werkzeug-2.1.2
Successfully installed Flask-2.2.2 Mako-1.2.4 Werkzeug-2.2.2 alembic-1.8.1 av-10.0.0 databricks-cli-0.17.3 docker-6.0.1 gunicorn-20.1.0 itsdangerous-2.1.2 llvmlite-0.39.1 mlflow-2.0.1 numba-0.56.4 pyjwt-2.6.0 python-dotenv-0.21.0 querystring-parser-1.2.4 shap-0.41.0 slicer-0.0.7 sqlparse-0.4.3 tabulate-0.9.0
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [4]:
import mlflow
from mlflow.client import MlflowClient
import pandas as pd
import os
import matplotlib.pyplot as plt
from overfit.env_settings import settings
from overfit.utils.mlflow import get_all_experiments, get_params_from_experiment_name
import numpy as np
import itertools
from tqdm.notebook import tqdm

In [ ]:
assert settings.MLFLOW_TRACKING_URI

In [6]:
client = MlflowClient(tracking_uri=settings.MLFLOW_TRACKING_URI)

In [7]:
ALL_CONFIDENCES = [0.1, 0.2, 0.3, 0.9]
ALL_WEIGHT_DECAYS = [0.1, 0.2, 0.3, 0.4]
ALL_MAX_LRS = [0.1, 0.2, 0.3, 0.4]
ALL_DATSETS = ["4-50", "5-50", "6-75"]
MODELS = ["resnet18", "resnet34", "resnet50", "vit"]

In [8]:
CONFIDENCES = [0.1]
WEIGHT_DECAYS = [0.2]
MAX_LRS = [0.1, 0.2, 0.3, 0.4]
MOMENTUMS = [0.1]
DATASETS = ["4-50"]
MODELS = ["vit"]

EXPERIMENT_NAMES = get_all_experiments(
    datasets=DATASETS,
    models=MODELS,
    confidences=CONFIDENCES,
    weight_decays=WEIGHT_DECAYS,
    max_lrs=MAX_LRS,
    momentums=MOMENTUMS,
)
EXPERIMENT_NAMES

['D4-50MvitC0.1WD0.2LR0.1M0.1',
 'D4-50MvitC0.1WD0.2LR0.2M0.1',
 'D4-50MvitC0.1WD0.2LR0.3M0.1',
 'D4-50MvitC0.1WD0.2LR0.4M0.1']

In [9]:
experiments = [
    client.get_experiment_by_name(experiment_name)
    for experiment_name in tqdm(EXPERIMENT_NAMES)
]

  0%|          | 0/4 [00:00<?, ?it/s]

In [10]:
experiments

[<Experiment: artifact_location='mlflow-artifacts:/41', creation_time=1669169218111, experiment_id='41', last_update_time=1669169218111, lifecycle_stage='active', name='D4-50MvitC0.1WD0.2LR0.1M0.1', tags={}>,
 <Experiment: artifact_location='mlflow-artifacts:/42', creation_time=1669169218286, experiment_id='42', last_update_time=1669169218286, lifecycle_stage='active', name='D4-50MvitC0.1WD0.2LR0.2M0.1', tags={}>,
 <Experiment: artifact_location='mlflow-artifacts:/43', creation_time=1669169218414, experiment_id='43', last_update_time=1669169218414, lifecycle_stage='active', name='D4-50MvitC0.1WD0.2LR0.3M0.1', tags={}>,
 <Experiment: artifact_location='mlflow-artifacts:/32', creation_time=1669040748038, experiment_id='32', last_update_time=1669040748038, lifecycle_stage='active', name='D4-50MvitC0.1WD0.2LR0.4M0.1', tags={}>]

In [15]:
def get_experiment_error_df(experiment_id: str) -> pd.DataFrame:
    src_errors = []
    tgt_errors = []
    runs = client.search_runs(experiment_ids=[experiment_id])
    for run in tqdm(runs):
        N = int(run.data.params["Frames"])
        filename = run.data.params["Filename"]
        src_acc_top1 = run.data.metrics["Source Accumulated Top-1 Count"]
        tgt_acc_top1 = run.data.metrics["Target Accumulated Top-1 Count"]
        src_error = 100 * (N - src_acc_top1) / N
        tgt_error = 100 * (N - tgt_acc_top1) / N
        assert src_error >= 0, (src_error, src_acc_top1, N, filename)
        assert tgt_error >= 0, (tgt_error, tgt_acc_top1, N, filename)
        src_errors.append(src_error)
        tgt_errors.append(tgt_error)

    df = pd.DataFrame(
        {
            "Source Error": src_errors,
            "Target Error": tgt_errors,
        }
    )
    return df.describe()

In [16]:
experiments

[<Experiment: artifact_location='mlflow-artifacts:/41', creation_time=1669169218111, experiment_id='41', last_update_time=1669169218111, lifecycle_stage='active', name='D4-50MvitC0.1WD0.2LR0.1M0.1', tags={}>,
 <Experiment: artifact_location='mlflow-artifacts:/42', creation_time=1669169218286, experiment_id='42', last_update_time=1669169218286, lifecycle_stage='active', name='D4-50MvitC0.1WD0.2LR0.2M0.1', tags={}>,
 <Experiment: artifact_location='mlflow-artifacts:/43', creation_time=1669169218414, experiment_id='43', last_update_time=1669169218414, lifecycle_stage='active', name='D4-50MvitC0.1WD0.2LR0.3M0.1', tags={}>,
 <Experiment: artifact_location='mlflow-artifacts:/32', creation_time=1669040748038, experiment_id='32', last_update_time=1669040748038, lifecycle_stage='active', name='D4-50MvitC0.1WD0.2LR0.4M0.1', tags={}>]

In [17]:
dfs = [
    get_experiment_error_df(experiment.experiment_id)
    for experiment in tqdm(experiments)
]

  0%|          | 0/4 [00:00<?, ?it/s]

  0%|          | 0/976 [00:00<?, ?it/s]

  0%|          | 0/976 [00:00<?, ?it/s]

  0%|          | 0/976 [00:00<?, ?it/s]

  0%|          | 0/976 [00:00<?, ?it/s]

In [18]:
experiment_names = [experiment.name for experiment in experiments]

In [19]:
params_df = pd.DataFrame(
    [
        get_params_from_experiment_name(experiment_name)
        for experiment_name in experiment_names
    ],
    index=experiment_names,
)
params_df

,dataset,model,confidence,weight_decay,max_lr,momentum
D4-50MvitC0.1WD0.2LR0.1M0.1,4-50,vit,0.1,0.2,0.1,0.1
D4-50MvitC0.1WD0.2LR0.2M0.1,4-50,vit,0.1,0.2,0.2,0.1
D4-50MvitC0.1WD0.2LR0.3M0.1,4-50,vit,0.1,0.2,0.3,0.1
D4-50MvitC0.1WD0.2LR0.4M0.1,4-50,vit,0.1,0.2,0.4,0.1

In [20]:
mean_df = pd.concat([df.loc["mean"] for df in dfs], axis=1).T
mean_df = mean_df.set_axis(
    [experiment.name for experiment in experiments], axis=0
).dropna()
mean_df = mean_df.rename(columns={"Source Error": "Source Error Mean", "Target Error": "Target Error Mean"})
mean_df_base = mean_df[["Source Error Mean", "Target Error Mean"]]
mean_df

                             Source Error Mean  Target Error Mean
D4-50MvitC0.1WD0.2LR0.1M0.1          59.351015          57.017511
D4-50MvitC0.1WD0.2LR0.2M0.1          59.351015          55.598687
D4-50MvitC0.1WD0.2LR0.3M0.1          59.351015          54.612751
D4-50MvitC0.1WD0.2LR0.4M0.1          59.351015          53.890648

In [21]:
mean_df["Error Mean Percentual Change"] = (
    100
    * (mean_df["Target Error Mean"] - mean_df["Source Error Mean"])
    / mean_df["Source Error Mean"]
)
# mean_df["Error Mean Absolute Change"] = mean_df["Target Error Mean"] - mean_df["Source Error Mean"]
mean_df_change = mean_df[["Error Mean Percentual Change"]]
mean_df

,Source Error Mean,Target Error Mean,Error Mean Percentual Change
D4-50MvitC0.1WD0.2LR0.1M0.1,59.351015,57.017511,-3.931700
D4-50MvitC0.1WD0.2LR0.2M0.1,59.351015,55.598687,-6.322265
D4-50MvitC0.1WD0.2LR0.3M0.1,59.351015,54.612751,-7.983459
D4-50MvitC0.1WD0.2LR0.4M0.1,59.351015,53.890648,-9.200124

In [22]:
std_df = pd.concat([df.loc["std"] for df in dfs], axis=1).T
std_df = std_df.set_axis(
    [experiment.name for experiment in experiments], axis=0
).dropna()
std_df = std_df.rename(columns={"Source Error": "Source Error Std", "Target Error": "Target Error Std"})
std_df_base = std_df[["Source Error Std", "Target Error Std"]]
std_df

                             Source Error Std  Target Error Std
D4-50MvitC0.1WD0.2LR0.1M0.1         23.749646         24.915604
D4-50MvitC0.1WD0.2LR0.2M0.1         23.749646         25.472482
D4-50MvitC0.1WD0.2LR0.3M0.1         23.749646         25.828909
D4-50MvitC0.1WD0.2LR0.4M0.1         23.749646         26.057293

In [23]:
std_df["Error Std Percentual Change"] = (
    100
    * (std_df["Target Error Std"] - std_df["Source Error Std"])
    / std_df["Source Error Std"]
)
# std_df["Error Std Absolute Change"] = std_df["Target Error Std"] - std_df["Source Error Std"]
std_df_change = std_df[["Error Std Percentual Change"]]
std_df

,Source Error Std,Target Error Std,Error Std Percentual Change
D4-50MvitC0.1WD0.2LR0.1M0.1,23.749646,24.915604,4.909367
D4-50MvitC0.1WD0.2LR0.2M0.1,23.749646,25.472482,7.254153
D4-50MvitC0.1WD0.2LR0.3M0.1,23.749646,25.828909,8.754919
D4-50MvitC0.1WD0.2LR0.4M0.1,23.749646,26.057293,9.716553

In [24]:
mean_df.join(std_df)

,Source Error Mean,Target Error Mean,Error Mean Percentual Change,Source Error Std,Target Error Std,Error Std Percentual Change
D4-50MvitC0.1WD0.2LR0.1M0.1,59.351015,57.017511,-3.931700,23.749646,24.915604,4.909367
D4-50MvitC0.1WD0.2LR0.2M0.1,59.351015,55.598687,-6.322265,23.749646,25.472482,7.254153
D4-50MvitC0.1WD0.2LR0.3M0.1,59.351015,54.612751,-7.983459,23.749646,25.828909,8.754919
D4-50MvitC0.1WD0.2LR0.4M0.1,59.351015,53.890648,-9.200124,23.749646,26.057293,9.716553

In [26]:
all_df = params_df[["max_lr"]].join(mean_df).join(std_df)
all_df.to_latex(float_format="%.2f")

/tmp/ipykernel_411/596001511.py:2: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  all_df.to_latex(float_format="%.2f")

'\\begin{tabular}{lrrrrrrr}\n\\toprule\n{} &  max\\_lr &  Source Error Mean &  Target Error Mean &  Error Mean Percentual Change &  Source Error Std &  Target Error Std &  Error Std Percentual Change \\\\\n\\midrule\nD4-50MvitC0.1WD0.2LR0.1M0.1 &    0.10 &              59.35 &              57.02 &                         -3.93 &             23.75 &             24.92 &                         4.91 \\\\\nD4-50MvitC0.1WD0.2LR0.2M0.1 &    0.20 &              59.35 &              55.60 &                         -6.32 &             23.75 &             25.47 &                         7.25 \\\\\nD4-50MvitC0.1WD0.2LR0.3M0.1 &    0.30 &              59.35 &              54.61 &                         -7.98 &             23.75 &             25.83 &                         8.75 \\\\\nD4-50MvitC0.1WD0.2LR0.4M0.1 &    0.40 &              59.35 &              53.89 &                         -9.20 &             23.75 &             26.06 &                         9.72 \\\\\n\\bottomrule\n\\end{tabular}\n'

In [27]:
all_df_base = params_df[["max_lr"]].join(mean_df_base).join(std_df_base)
all_df_base

,max_lr,Source Error Mean,Target Error Mean,Source Error Std,Target Error Std
D4-50MvitC0.1WD0.2LR0.1M0.1,0.1,59.351015,57.017511,23.749646,24.915604
D4-50MvitC0.1WD0.2LR0.2M0.1,0.2,59.351015,55.598687,23.749646,25.472482
D4-50MvitC0.1WD0.2LR0.3M0.1,0.3,59.351015,54.612751,23.749646,25.828909
D4-50MvitC0.1WD0.2LR0.4M0.1,0.4,59.351015,53.890648,23.749646,26.057293

In [28]:
all_df_change = params_df[["max_lr"]].join(mean_df_change).join(std_df_change)
all_df_change

,max_lr,Error Mean Percentual Change,Error Std Percentual Change
D4-50MvitC0.1WD0.2LR0.1M0.1,0.1,-3.931700,4.909367
D4-50MvitC0.1WD0.2LR0.2M0.1,0.2,-6.322265,7.254153
D4-50MvitC0.1WD0.2LR0.3M0.1,0.3,-7.983459,8.754919
D4-50MvitC0.1WD0.2LR0.4M0.1,0.4,-9.200124,9.716553

In [11]:
def find_worse(better_id: str, worse_id: str):
    runs = client.search_runs(experiment_ids=[better_id, worse_id], max_results=2000)
    ekey = lambda run: run.info.experiment_id
    runs.sort(key=ekey)

    experiment_runs = dict()
    for k, group in itertools.groupby(runs, key=ekey):
        experiment_runs[k] = {run.data.params["Filename"]: run for run in group}

    metric = "Target Accumulated Top-1 Count"
    worsened = []
    for filename, run in experiment_runs[worse_id].items():
        if (
            experiment_runs[better_id][filename].data.metrics[metric]
            < run.data.metrics[metric]
        ):
            worsened.append(filename)
    
    rows = []
    for filename in worsened:
        baseline = "Source Accumulated Top-1 Count"
        metric = "Target Accumulated Top-1 Count"

        row = {
            "Filename": filename,
            baseline: experiment_runs[worse_id][filename].data.metrics[baseline],
            f"{worse_id}-{metric}": experiment_runs[worse_id][filename].data.metrics[metric],
            f"{better_id}-{metric}": experiment_runs[better_id][filename].data.metrics[metric],
        }
        rows.append(row)

    return pd.DataFrame(rows)

In [12]:
experiments

[<Experiment: artifact_location='mlflow-artifacts:/41', creation_time=1669169218111, experiment_id='41', last_update_time=1669169218111, lifecycle_stage='active', name='D4-50MvitC0.1WD0.2LR0.1M0.1', tags={}>,
 <Experiment: artifact_location='mlflow-artifacts:/42', creation_time=1669169218286, experiment_id='42', last_update_time=1669169218286, lifecycle_stage='active', name='D4-50MvitC0.1WD0.2LR0.2M0.1', tags={}>,
 <Experiment: artifact_location='mlflow-artifacts:/43', creation_time=1669169218414, experiment_id='43', last_update_time=1669169218414, lifecycle_stage='active', name='D4-50MvitC0.1WD0.2LR0.3M0.1', tags={}>,
 <Experiment: artifact_location='mlflow-artifacts:/32', creation_time=1669040748038, experiment_id='32', last_update_time=1669040748038, lifecycle_stage='active', name='D4-50MvitC0.1WD0.2LR0.4M0.1', tags={}>]

In [13]:
df = find_worse(better_id="32", worse_id="42")
df

,Filename,Source Accumulated Top-1 Count,42-Target Accumulated Top-1 Count,32-Target Accumulated Top-1 Count
0,/datasets/imagenet1k-4-50/979-valley-4-40.mp4,24.0,21.0,20.0
1,/datasets/imagenet1k-4-50/973-coral_reef-4-40.mp4,29.0,31.0,30.0
2,/datasets/imagenet1k-4-50/970-alp-4-40.mp4,7.0,3.0,2.0
3,/datasets/imagenet1k-4-50/969-eggnog-4-40.mp4,26.0,28.0,27.0
4,/datasets/imagenet1k-4-50/966-red_wine-4-40.mp4,5.0,1.0,0.0
5,/datasets/imagenet1k-4-50/946-cardoon-4-40.mp4,32.0,33.0,32.0
6,/datasets/imagenet1k-4-50/941-acorn_squash-4-4...,5.0,2.0,1.0
7,/datasets/imagenet1k-4-50/94-hummingbird-4-40.mp4,21.0,23.0,22.0
8,/datasets/imagenet1k-4-50/887-vestment-4-40.mp4,5.0,4.0,2.0
9,/datasets/imagenet1k-4-50/876-tub-4-40.mp4,2.0,1.0,0.0
10,/datasets/imagenet1k-4-50/871-trimaran-4-40.mp4,26.0,25.0,20.0
11,/datasets/imagenet1k-4-50/870-tricycle-4-40.mp4,6.0,6.0,5.0
12,/datasets/imagenet1k-4-50/790-shopping_basket-...,17.0,16.0,15.0
13,/datasets/imagenet1k-4-50/786-sewing_machine-4...,2.0,2.0,1.0
14,/datasets/imagenet1k-4-50/751-racer-4-40.mp4,3.0,1.0,0.0
15,/datasets/imagenet1k-4-50/736-pool_table-4-40.mp4,4.0,2.0,1.0
16,/datasets/imagenet1k-4-50/735-poncho-4-40.mp4,8.0,3.0,2.0
17,/datasets/imagenet1k-4-50/725-pitcher-4-40.mp4,2.0,2.0,1.0
18,/datasets/imagenet1k-4-50/703-park_bench-4-40.mp4,7.0,6.0,5.0
19,/datasets/imagenet1k-4-50/665-moped-4-40.mp4,18.0,17.0,16.0
20,/datasets/imagenet1k-4-50/66-horned_viper-4-40...,3.0,3.0,1.0
21,/datasets/imagenet1k-4-50/61-boa_constrictor-4...,25.0,27.0,26.0
22,/datasets/imagenet1k-4-50/590-held_computer-4-...,8.0,14.0,13.0
23,/datasets/imagenet1k-4-50/581-grille-4-40.mp4,1.0,1.0,0.0
24,/datasets/imagenet1k-4-50/572-goblet-4-40.mp4,6.0,6.0,5.0
25,/datasets/imagenet1k-4-50/568-fur_coat-4-40.mp4,3.0,3.0,2.0
26,/datasets/imagenet1k-4-50/54-hognose_snake-4-4...,11.0,15.0,14.0
27,/datasets/imagenet1k-4-50/524-cuirass-4-40.mp4,13.0,12.0,8.0
28,/datasets/imagenet1k-4-50/483-castle-4-40.mp4,16.0,19.0,18.0
29,/datasets/imagenet1k-4-50/46-green_lizard-4-40...,5.0,4.0,3.0
30,/datasets/imagenet1k-4-50/454-bookshop-4-40.mp4,11.0,13.0,10.0
31,/datasets/imagenet1k-4-50/412-ashcan-4-40.mp4,6.0,5.0,3.0
32,/datasets/imagenet1k-4-50/378-capuchin-4-40.mp4,2.0,2.0,1.0
33,/datasets/imagenet1k-4-50/33-loggerhead-4-40.mp4,12.0,13.0,12.0
34,/datasets/imagenet1k-4-50/31-tree_frog-4-40.mp4,3.0,3.0,2.0
35,/datasets/imagenet1k-4-50/238-Greater_Swiss_Mo...,5.0,4.0,3.0
36,/datasets/imagenet1k-4-50/23-vulture-4-40.mp4,9.0,10.0,9.0
37,/datasets/imagenet1k-4-50/221-Irish_water_span...,7.0,7.0,6.0
38,/datasets/imagenet1k-4-50/208-Labrador_retriev...,9.0,7.0,5.0
39,/datasets/imagenet1k-4-50/197-giant_schnauzer-...,12.0,14.0,11.0
40,/datasets/imagenet1k-4-50/193-Australian_terri...,8.0,5.0,2.0
41,/datasets/imagenet1k-4-50/180-American_Staffor...,12.0,12.0,11.0
42,/datasets/imagenet1k-4-50/173-Ibizan_hound-4-4...,12.0,13.0,12.0
43,/datasets/imagenet1k-4-50/171-Italian_greyhoun...,11.0,14.0,13.0
44,/datasets/imagenet1k-4-50/169-borzoi-4-40.mp4,7.0,8.0,7.0
45,/datasets/imagenet1k-4-50/161-basset-4-40.mp4,4.0,5.0,3.0